.center{
	width: 100%;
	height: 1063px;
	background: #09070e;
}
.c_top{
	height: 84px;
	line-height: 84px;
	float: left;
	margin-left: 12.5%;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft Yahei";
}
.c_bottom{
	float: left;
	width: 75%;
	height: 895px;
	margin-left: 12.5%;
	background: #fff;
}
.cb1_left{
	width: 8px;
	height: 103px;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	background-image: url(img/t44.png);
}
.cb1_right{
	width: 930px;
	float: right;
	margin-right: 20px;
	margin-top: 42px;
	font-size: 15px;
	font-family: "Microsoft Yahei";
}
.cb2_left{
	width: 101px;
	height: 114px;
	float: left;
	margin-left: -8px;
	margin-top: 33px;
	background-image: url(img/t45.png);
}
.cb2_right{
	width: 930px;
	float: right;
	margin-right: 32px;
	margin-top: -60px;
	font-size: 15px;
	font-family: "Microsoft Yahei";
}
.cb3_left{
	width: 101px;
	height: 198px;
	float: left;
	margin-left: 15px;
	margin-top: -6px;
	background-image: url(img/t46.png);
}
.cb3_right{
	width: 930px;
	float: right;
	margin-right: 20px;
	margin-top: -130px;
	font-size: 15px;
	font-family: "Microsoft Yahei";
}
.cb3_right span{
	float: left;
	width: 930px;
}
.cb4_left{
	width: 101px;
	height: 416px;
	float: left;
	margin-left: 15px;
	margin-top: -5px;
	background-image: url(img/t47.png);
}
.cb4_right{
	width: 930px;
	float: right;
	margin-right: 20px;
	margin-top: -354px;
	font-size: 15px;
	font-family: "Microsoft Yahei";
}